body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.reset-btn{
    font-size: 16px;
    cursor: pointer;
}

.reset-btn:hover{
    color: rgb(67, 68, 68)
}

.background{
    background: url('../images/background.png') repeat-x;
    position: absolute;
    width: 100vw;
    height: 100%;
    animation: sceen 6s linear infinite;
}

@keyframes sceen{
    from{
        background-position: 0 0;
    }
    to{
        background-position: -1452px 0;
    }
}

.racing-flag{
    position: absolute;
    right: 15px;
    top: 20px;
    z-index: 10;
}

.result, .rsg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 200px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 100;
    text-transform: uppercase;
}

.joke{
    font-size: 50px;
    margin-bottom: 40px;
    width: 800px;
    word-wrap: break-word;
    text-align: center;
}

.time{
    font-size:50px;
    position: fixed;
    z-index: 5;
    font-family: Arial, Helvetica, sans-serif;
    padding:20px;
}

.hide{
    display: none;
}

.crossing-line{
    position: absolute;
    right: 140px;
    top: -2px;
    z-index: 10;
    height: 100vh;
    width:1px;
    border: 2px dotted black;
}

.bird{
    background: url('../images/angry_bird.png') no-repeat;
    position: absolute;
    width: 85px;
    height: 100px;
    top: 33%;
    right: 0;
    bottom: 0;
    left: 0;;
    animation: fly 300ms steps(4) infinite alternate;
    z-index: 99;
    transition: top 500ms, left 500ms;
}


@keyframes fly{
    from{
        background-position: 0 0;
    }
    to{
        background-position: -340px 0;
    }
}
.bird1{
    background: url('../images/angry_bird1.png') no-repeat;
    position: absolute;
    width: 183.60px;
    height: 168.67px;
    top: 18%;
    left: -30px;
    zoom: .6;
    animation: fly1 300ms steps(3) infinite alternate;

}

@keyframes fly1{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 0 -506px;
    }
}

.bird2{
    background: url('../images/angry_bird2.png') no-repeat;
    position: absolute;
    width: 284.67px;
    height: 312px;
    top: 53%;
    left: 0px;
    zoom: .25;
    animation: fly2 300ms steps(3) infinite alternate;

}

@keyframes fly2{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 0 -936px;
    }
}

.background2{
    position: absolute;
    background: url('../images/background2.png') repeat-x;
    top: 35px;
    bottom: 0;
    width: 1923px;
    height: 225px;
    animation: back 6s linear infinite;
}

@keyframes back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -623px 0;
    }
}
.bird3{
    position: absolute;
    background: url('../images/Bird.png') repeat-x;
    top: 0px;
    bottom: 4px;
    width: 1600px;
    height: 304px;
    z-index: 99;
    animation: fly3 6s linear infinite;
}

@keyframes fly3 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -400px 0;
    }
}